@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

/* =====================
 BASIC STYLES
====================== */
section {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  text-align: justify;
}

/* =====================
 LANDING SECTION
====================== */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(./../images/sacredg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  /* outline: 2px solid blue; */
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  /* outline: 1px solid red; */
}

.nav-container .title {
  display: flex;
  justify-content: center;
  height: 68px;
  color: white;
  /* outline: 2px solid yellow; */
}

.nav-container .title p {
  align-self: center;
  font-size: 23px;
  padding: 13px 0 13px 35px;
  letter-spacing: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  /* outline: 1px solid red; */
}

.job-title {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
}

.sticky {
  display: flex;
  position: fixed;
  align-content: center;
  width: 100%;
  background-color: #141826;
  top: 0;
  left: 0;
  z-index: 1;
  /* outline: 1px solid purple; */
}

.hero-title-content {
  /* outline: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin-bottom: 200px;
  color: rgba(255, 255, 255, 0.8);
}

.hero-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  z-index: 10;
  /* outline: 1px solid red; */
}

.media {
  background: #141826;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: 90%;
  display: flex;
  justify-content: center;
}

.quote-container p {
  line-height: 1.8rem;
  margin-bottom: 10px;
}

.author {
  color: #b7b7b8be;
}

blockquote {
  font-size: 20px;
  width: 53.5%;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
  border-left: 8px solid #5b5d6873;
  margin: 1.3rem 2rem;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 5px 20px 5px 20px;
  letter-spacing: 3px;
}

blockquote:before {
  content: open-quote;
  display: inline;
  line-height: 0.5;
  left: -10px;
  position: relative;
  top: 20px;
  color: #5b5d6873;
  font-size: 3em;
}

.sticky-info {
  display: flex;
  position: fixed;
  align-content: center;
  width: 100%;
  /* background-color: rgb(20, 20, 20); */
  background-color: #141826;
  top: 30px;
  left: 0;
  z-index: 1;
  /* outline: 1px solid purple; */
}

.hero-button-container a {
  letter-spacing: 5px;
  margin-bottom: 5px;
  font-size: 21px;
  width: 220px;
  font-weight: 200;
  border: 1px solid #141826;
  text-align: center;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.2);
  background-color: #141826;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out 0.1s,
    color 0.2s ease-in-out 0.1s;
  padding: 10px 0;

  /* outline: 7px solid green; */
}

.hero-title-content a:hover {
  background-color: white;
  color: #141826;
}

.hero-title-content .title1 {
  /* padding-right: 300px; */
  margin-top: 230px;
  /* outline: 4px solid blue; */
}

.hero-title-content .title3 {
  /* padding-left: 300px; */
  margin-bottom: 200px;
  /* outline: 4px solid blue; */
}

/* animation */
.nav-container,
.hero-title-content,
.media {
  animation: 1s fadein 0.4s forwards;
  opacity: 0;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

/* ================================
 MEDIA QUERIES FOR LANDING SECTION
=================================== */
@media screen and (max-width: 1300px) {
  .quote-container {
    width: 100%;
  }

  .quote-container p {
    line-height: 1.8rem;
  }

  blockquote {
    font-size: 18px;
    margin-left: 150px;
  }

  blockquote:before {
    line-height: 0.3;
  }
}

@media screen and (max-width: 1100px) {
  .quote-container p {
    line-height: 1.6rem;
  }

  blockquote {
    font-size: 18px;
    margin-left: 200px;
  }

  blockquote:before {
    line-height: 0.3;
  }
}

@media screen and (max-width: 900px) {
  .nav-container .title p {
    font-size: 1.3rem;
  }

  .job-title {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 850px) {
  .quote-container p {
    line-height: 1.5rem;
  }

  blockquote {
    font-size: 16px;
    margin-left: 240px;
  }

  blockquote:before {
    line-height: 0.3;
  }

  .hero-button-container a {
    letter-spacing: 4px;
    font-size: 18px;
    width: 200px;
    font-weight: 200;
    margin: 5px 0 0 0;
    /* outline: 7px solid green; */
  }
}

@media screen and (max-width: 700px) {
  .nav-container .title p {
    font-size: 1.2rem;
    letter-spacing: 8px;
  }

  .job-title {
    letter-spacing: 8px;
  }
}

@media screen and (max-width: 650px) {
  .nav-container .title p {
    font-size: 1.2rem;
    letter-spacing: 8px;
  }

  .job-title {
    letter-spacing: 8px;
  }

  .quote-container p {
    line-height: 1.4rem;
    text-align: left;
  }

  .hero-button-container a {
    letter-spacing: 3px;
    font-size: 13px;
    width: 130px;
    /* outline: 7px solid green; */
  }

  blockquote {
    font-size: 12px;
    margin-left: 160px;
    /* border-left: 7px solid #5b5d68; */
  }
}

/* =====================
 ABOUT SECTION
====================== */
.about-section {
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.about-content {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
  /* margin-bottom: 6rem; */
}

.about-content-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 55%;
  height: 100%;
  /* padding: 10px 30px; */
  margin-top: 6rem;
  /* border: 1px solid black; */
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
  padding: 60px 120px;
}
.about-content-p p {
  width: 100%;
  padding: 15px 0px;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
}

.about-content-photo {
}

.about-content-photo img {
  position: absolute;
  top: 50px;
  right: 240px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
  /* align-self: center; */
  height: 220px;
  border-radius: 50%;
  /* outline: 1px solid red; */
}

.resume-button {
  /* outline: 1px solid blue; */
  width: 100%;
  height: 75px;
  margin: 30px auto 0px auto;
  padding: 15px 0 0 0;
  text-align: center;
}

.resume-button a {
  /* outline: 1px solid purple; */
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  width: 100%;
  margin: 0 20px 0 0;
  padding: 12px 20px 12px 20px;
  color: black;

  border-radius: 2px;
  /* box-shadow: 4px 4px 4px black; */
  transition: background-color 0.2s ease-in-out 0.1s,
    color 0.2s ease-in-out 0.1s;
}

.resume-button a:hover {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.shim {
  color: white;
}

.icon-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./../images/sacredg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* outline: 1px solid red; */
}

.icon-background {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  /* outline: 1px solid red; */
}

figure {
  display: flex;
  flex-direction: column;
  width: 150px;
  /* outline: 1px solid red; */
}

figcaption {
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  letter-spacing: 1px;
  width: 100%;
  margin-top: 3px;
  padding: 5px;
  /* outline: 1px solid red; */
  text-align: center;
}

.icon-bar figure i {
  font-size: 35px;
  color: white;
  text-align: center;
  /* outline: 1px solid red; */
}

.icon-bar .fa-html5 {
  color: rgba(255, 85, 0, 0.7);
  transform: scale(1);
  transition: color 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;
  /* outline: 1px solid green; */
}

.icon-bar .fa-html5:hover {
  color: rgba(255, 85, 0, 1);
  transform: scale(1.2);
}

.icon-bar .fa-css3-alt {
  color: rgba(0, 169, 224, 0.7);
  transform: scale(1);
  transition: color 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;
}

.icon-bar .fa-css3-alt:hover {
  color: rgba(0, 169, 224, 1);
  transform: scale(1.2);
}

.icon-bar .fa-js {
  color: rgba(240, 224, 64, 0.7);
  transform: scale(1);
  transition: color 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;
}

.icon-bar .fa-js:hover {
  color: rgba(240, 224, 64, 1);
  transform: scale(1.2);
}

.icon-bar figure .fa-node {
  color: rgba(74, 165, 101, 0.7);
  transform: scale(1);
  transition: color 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;
}

.icon-bar .fa-node:hover {
  color: rgba(74, 165, 101, 1);
  transform: scale(1.2);
}

.icon-bar .fa-database {
  color: rgba(228, 133, 204, 0.7);
  transform: scale(1);
  transition: color 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;
}

.icon-bar .fa-database:hover {
  color: rgba(228, 133, 204, 1);
  transform: scale(1.2);
}

.icon-bar .fa-react {
  color: rgba(0, 221, 255, 0.7);
  transform: scale(1);
  transition: color 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;
}

.icon-bar .fa-react:hover {
  color: rgba(0, 221, 255, 1);
  transform: scale(1.2);
}

.icon-bar .fa-github {
  color: rgba(178, 187, 189, 0.7);
  transform: scale(1);
  transition: color 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;
}

.icon-bar .fa-github:hover {
  color: rgba(178, 187, 189, 1);
  transform: scale(1.2);
}

.icon-bar .fa-python {
  /* color: #00c3ff;  fallback for old browsers */
  color: rgba(255, 229, 102, 0.7);
  transform: scale(1);
  transition: color 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;
}

.icon-bar .fa-python:hover {
  color: rgba(255, 229, 102, 1);
  transform: scale(1.2);
}

/* =====================
 PORTFOLIO SECTION
====================== */
.portfolio-section {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.02));
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.portfolio-content {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  /* outline: 1px solid blue; */
  padding: 6rem 50px 2rem;
  width: 100%;
}

.portfolio-content-p {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
  height: 100%;
  margin-top: 50px;
  padding: 60px 80px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
  /* outline: 1px solid red; */
}

.portfolio-content-p h1 {
  padding-bottom: 20px;
}

.portfolio-content-p p {
  /* outline: 1px solid blue; */
  letter-spacing: 1px;
  width: 100%;
  padding: 15px 0px;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
}

.portfolio-content-photo {
  width: 50%;
  position: relative;
}

.portfolio-content-photo img {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
  height: 170px;
  width: 80%;
  border-radius: 3%;
  position: absolute;
  top: -575px;
  left: 600px;
  /* outline: 1px solid red; */
}

.portfolio-content-photo .pseudo {
  position: absolute;
  top: -860px;
  left: 600px;
  /* outline: 1px solid red; */
}

.github-button {
  /* outline: 1px solid blue; */
  width: 50%;
  height: 75px;
  margin: 5px auto 0 auto;
  padding: 15px;
  text-align: center;
}

.github-button a {
  width: 100%;
  font-size: 30px;
  padding: 12px 20px 12px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 2px;

  transition: background-color 0.2s ease-in-out 0.1s,
    color 0.2s ease-in-out 0.1s;
}

.github-button a:hover {
  background-color: black;
  color: white;
}

/* =====================
 FOOTER SECTION
====================== */
footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

footer .footer-title {
  /* outline: 1px solid blue; */
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-bottom: 5px;
  text-align: center;
  letter-spacing: 4px;

  font-size: 1.1rem;
}

footer .contact-icon {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  padding: auto;
  /* outline: 1px solid green; */
}

footer .contact-icon div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* outline: 1px solid blue; */
  width: 100%;
  align-content: center;
  align-items: center;
  /* padding: 7px 0; */
  letter-spacing: 2px;
}

footer .contact-icon div i {
  margin-right: 15px;
  font-size: 1.5rem;
  padding-left: 15px;
  /* outline: 1px solid red; */
}

footer .contact-icon .resume {
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 1.3rem;
  color: rgba(18, 87, 38, 0.6);
  transition: color 0.2s ease-in-out 0.1s;
  /* outline: 1px solid red; */
}

footer .contact-icon .resume a {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease-in-out 0.1s;
}

footer .contact-icon .resume:hover {
  color: rgb(18, 87, 38);
}

footer .contact-icon .resume a:hover {
  color: rgb(18, 87, 38);
}

footer .contact-icon .email {
  color: rgba(151, 25, 13, 0.6);
  transition: color 0.2s ease-in-out 0.1s;
}
footer .contact-icon .email a {
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 1.3rem;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease-in-out 0.1s;
}

footer .contact-icon .email:hover {
  color: rgb(151, 25, 13);
}

footer .contact-icon .email a:hover {
  color: rgb(151, 25, 13);
}

footer .contact-icon .github {
  color: rgba(78, 52, 117, 0.6);
  transition: color 0.2s ease-in-out 0.1s;
}

footer .contact-icon .github a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 1.3rem;
  transition: color 0.2s ease-in-out 0.1s;
}

footer .contact-icon .github:hover {
  color: rgba(78, 52, 117, 1);
}

footer .contact-icon .github a:hover {
  color: rgba(78, 52, 117, 1);
}

footer .contact-icon .linkedin {
  color: rgba(0, 88, 139, 0.6);
  transition: color 0.2s ease-in-out 0.1s;
}

footer .contact-icon .linkedin a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 1.3rem;
  transition: color 0.2s ease-in-out 0.1s;
}

footer .contact-icon .linkedin:hover {
  color: rgba(0, 88, 139, 1);
}

footer .contact-icon .linkedin a:hover {
  color: rgba(0, 88, 139, 1);
}

footer .footer-p {
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  color: white;
}

.copyright {
  justify-content: center;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  letter-spacing: 2px;
  /* outline: 1px solid red; */
}

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  animation-duration: 1s;
}
.js--wp4 {
  animation-duration: 2s;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}

/* =====================
 MEDIA QUERIES
====================== */
